<appSettings>
  <add key="URLtest" value="http://www.way2automation.com/demo.html"/>
  <add key="URL" value="https://test-portal.3shapecommunicate.com"/>
  <add key="URLSettingsPage" value="https://test-portal.3shapecommunicate.com/#/settings/"/>
  <add key="IntegrationPageURL" value="https://test-portal.3shapecommunicate.com/#/integrations/"/>
  <add key="LoginPageURL" value="https://test-portal.3shapecommunicate.com/#/login"/>
  <add key="TestDataSheetPath" value="C:\Users\Home\Source\Repos\Portal\UnitTestProject3\TestDataAccess\TestData.xlsx"/>
  <add key="NewAccount" value="doomedPassenger@getnada.com"/>
  <add key="PdfFilePath" value="D:\\Files\\AaZz059Kl.pdf"/>
  <add key="LogoFilePath" value="D:\\Files\\3shape.png"/>
  <add key="ClinicAccount" value="UiTestClinic@spam4.me"/>
  <add key="LabAccount" value="UiTestLab@spam4.me"/>
  <add key="AdminAccount" value="TestLab2016@grr.la"/>
  <add key="Country" value="Denmark"/>
  <add key="Name" value="John"/>
  <add key="CaseId" value="4b407ed9-87d0-4dc3-b34b-51f0ab794afa"/>
  
  
</appSettings>