<appSettings>
  <add key="URLtest" value="http://www.way2automation.com/demo.html"/>
  <add key="URL" value="https://test-portal.3shapecommunicate.com"/>
  <add key="URLSettingsPage" value="https://test-portal.3shapecommunicate.com/#/settings/"/>
  <add key="IntegrationPageURL" value="https://test-portal.3shapecommunicate.com/#/integrations/"/>
  <add key="LoginPageURL" value="https://test-portal.3shapecommunicate.com/#/login"/>
  <add key="TestDataSheetPath" value="C:\Users\Home\Source\Repos\Portal\UnitTestProject3\TestDataAccess\TestData.xlsx"/>
  <add key="PdfFilePath" value="D:/Files/AaZz059Kl.pdf"/>
  <add key="AccountName" value="UiTestClinic@spam4.me"/>
  <add key="Address" value="Long, LA, 111, Denmark"/>
  <add key="PhoneNumber" value="123"/>
  <add key="Dongle" value="92295796"/>
  <add key="Name" value="John Big"/>
  
  
  
</appSettings>