<appSettings>
  <add key="URLtest" value="http://www.way2automation.com/demo.html"/>
  <add key="URL" value="https://test-portal.3shapecommunicate.com"/>
  <add key="URLSettingsPage" value="https://test-portal.3shapecommunicate.com/#/settings/"/>
  <add key="IntegrationPageURL" value="https://test-portal.3shapecommunicate.com/#/integrations/"/>
  <add key="LoginPageURL" value="https://test-portal.3shapecommunicate.com/#/login"/>
  <add key="TestDataSheetPath" value="C:\Users\Vadym Diakov\Source\Repos\Portal2\UnitTestProject3\TestDataAccess\TestData.xlsx"/>
  <add key="Email" value="doomedPassenger@getnada.com"/>
  <add key="PdfFilePath" value="D:\\Files\\AaZz059Kl.pdf"/>
  <add key="LogoFilePath" value="D:\\Files\\3shape.png"/>
  <add key="AccountName" value="UiTestClinic@spam4.me"/>
  <add key="Country" value="Denmark"/>
  <add key="Name" value="John"/>
  
  
  
</appSettings>