<appSettings>
  <add key="URLtest" value="http://www.way2automation.com/demo.html"/>
  <add key="URL" value="https://test-portal.3shapecommunicate.com"/>
  <add key="IntegrationPageURL" value="https://test-portal.3shapecommunicate.com/#/integrations/"/>
  <add key="LoginPageURL" value="https://test-portal.3shapecommunicate.com/#/login"/>
  <add key="TestDataSheetPath" value="C:\Users\Vadym Diakov\Source\Repos\Portal2\UnitTestProject3\TestDataAccess\TestData.xlsx"/>
  <add key="PdfFilePath" value="D:/Files/AaZz059Kl.pdf"/> 
</appSettings>